<h3> Good Morning, Ting! </h3>
<canvas id="myCanvas"></canvas>
<br>
<button id="clearCanvas" class="button-primary">Clear</button> <br>
<form class="two columns" id="styleSelection">
  <label for="exampleRecipientInput">Portrait Style</label>
  <select class="u-full-width" id="styleInput">
    <option value="renaissance">Renaissance</option>
    <option value="cubist">Cubist</option>
    <option value="ukiyo-e">Ukiyo-E</option>
  </select>
</form>
<button id="processCanvas" class="button-primary">Process</button>
<div id="imageDiv"></div>
<div class="modal"></div>
