<h3> Good Morning, Ting! </h3>
<canvas id="myCanvas"></canvas>
<br>
<button id="clearCanvas" class="button-primary">Clear</button> <br>
<div class="two columns">
  <label for="exampleRecipientInput">Portrait Style</label>
  <select class="u-full-width" id="exampleRecipientInput">
    <option value="Option 1">Renaissance</option>
    <option value="Option 2">Cubist</option>
    <option value="Option 3">Ukiyo-E</option>
  </select>
</div>
<button id="processCanvas" class="button-primary">Process</button>
<div id="imageDiv"></div>
