<div class="container" id="headerContainer">
  <div class="row" id="headerElement">
    <h2 class="twelve columns"> pocket picasso. </h3>
    </div>

    <div class="row">
      <p class="twelve columns"> a little blurb about pocket picasso. try to draw a portrait. </p>
    </div>

    <div id="megaRow" class="row">
      <div class="four columns">
        <div class="row">
          <canvas id="myCanvas" class="three columns"></canvas>
        </div>
      </div>

      <div id="buttonGroup" class="two columns">
        <div class="row">
          <div class="twelve columns">
            <button id="clearCanvas" class="button-primary">Clear</button>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <form id="styleSelection">
              <label for="exampleRecipientInput">Portrait Style</label>
              <select class="u-full-width" id="styleInput">
                <option value="renaissance">Renaissance</option>
                <option value="cubist">Cubist</option>
                <option value="ukiyoe">Ukiyo-E</option>
              </select>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <button id="processCanvas" class="button-primary">Process</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="four columns" id="imageDiv"></div>
      </div>
    </div>

  </div>

  <div class="row" id="imageGallery">
  </div>

  <div class="modal"></div>
</div>
