 #myCanvas {
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
}

#imageDiv {
 border-style: solid;
 border-width: 2px;
 border-color: lightgrey;
 height: 303px;
 width: 303px;
}

img {
  width: 300px;
  height: 300px;
}

canvas.upper-canvas {
  margin-left: 0px;
}

#headerContainer {
  /*color: darkgrey;*/
  margin-top: 3%;
  margin-left: 15%;
}

#headerElement {
  margin-bottom: 1%;
}

#megaRow {
  text-align: center;
  /*margin-left: 10%;*/
  margin-top: 2%;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

form#styleSelection {
  margin: 0px;
}

#buttonGroup {
  margin-left: 6.5%;
  margin-right: 5%;
  margin-top: 50px;
  text-align: center;
}
